<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Semana4VelocimetroMBV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63EC36621C0E152D00724221</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63EC36761C0E152E00724221</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63EC36811C0E152E00724221</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
